.wines {
  color: black;
  style-type: none;
  text-align: top;
  height: 50px;
}

.wines__title {
  color: blue;
  font-size: 50px;
  text-align: center;
}

.wines__pulldown {
  text-align: right;
  color: red;
}

.reviews {
  color: purple;
}

.stars {
  color: pink;
}



